<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <h1>Epic Task</h1>
    
    <a href="/task/new" class="btn">nova tarefa</a>

    <div class="content">
        <div class="tasks">
            <div class="card-task" th:each="task : ${tasks}">
                <h2 th:text="${task.title}"></h2>
                <p th:text="${task.description}"></p>
            </div>
        </div>
    </div>
    
</body>
</html>